Source: ngcp-www-admin
Section: admin
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 5), libtemplate-perl
Standards-Version: 3.9.3
Homepage: http://sipwise.com/

Package: ngcp-templates-ce-www-admin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ngcp-templates-ce-config
Conflicts: ngcp-templates-pro-www-admin
Provides: ngcp-templates-www-admin
Description: Configuration templates for the web-based admin interface
 The package contains configuration file templates for the administrative
 webinterface.

Package: ngcp-templates-pro-www-admin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ngcp-templates-pro-config
Conflicts: ngcp-templates-ce-www-admin
Provides: ngcp-templates-www-admin
Description: Configuration templates for the web-based admin interface
 The package contains configuration file templates for the administrative
 webinterface.

Package: ngcp-www-admin
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ngcp-ossbss-billing (>= 2.1.1), ngcp-ossbss-voip (>= 3.1.0), libcatalyst-perl, libcatalyst-modules-perl, libcatalyst-engine-apache-perl, ngcp-templates-www-admin, libgd-gd2-perl, libfile-type-perl
Description: administration framework to configure the Sipwise NGCP
 This package provides an administration framework which is used to
 configure the Sipwise NGCP.
