#header {
  background-color: #459E00;
  height: 50px;
  margin-bottom: 20px;
}

#header h1 {
  font-size: 24px;
  color: #fff;
  padding: 13px 0 13px 13px;
}

#header .ui-corner-all {
  margin: 13px 10px 13px 0;
  border-color: #fff;
}

#header span {
  display: inline;
  float: left;
  margin-right: 5px;
}

#footer {
  margin: 25px 0 0 0;
  padding: 5px 0 5px 0;
}

#footer a, #footer p {
  color: #bbb;
  text-decoration: none;
  text-align: center;
}

#footer a:hover {
  text-decoration: underline;
}

#contentmenu li.active_menu a {
  color: red;
}

#content{
  min-height: 350px;
}

#content h3 {
  margin-top: 30px;
}

#dataConfirmModal {
    display: none;
}

a, a:visited, a:link,
.content .ui-state-default a, .content .ui-state-default a:visited, 
.content .ui-state-default a:link {
  color: #459E00;
  text-decoration: none;
}

a:hover {
  color: #54c000;
  text-decoration: none;
}

a.red {
  color: red !important;
}

.content .ui-sortable {
  cursor: move;
}

.content li.ui-state-default {
  height: 26px;
}

.content li.ui-state-default.high {
  height: 95px;
}

.content li.ui-state-default.intend {
  margin-left: 10px;
  width: 615px;
}

.content li.ui-state-default div {
  margin: 3px auto 3px auto;
  height: 20px;
}

.content li.ui-state-default div label {
  font-weight: normal;
}

.content .ui-button-icon-only .ui-button-text, 
.content .ui-button-icons-only .ui-button-text {
  padding: 0;
  height: 20px;
}
.content .ui-button-icon-only { 
  width: 20px; 
}

.p1 {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0 20px 0;
/* foo
  display: block;
  float: left;
*/
}

/* disable alternating colors in tables */
tbody tr:nth-child(2n) td,
tbody tr.even td {
/*
  background: none repeat scroll 0 0 #b5ff7c;
*/
  background: none;
}

.nobg tbody tr:nth-child(2n) td,
.nobg tbody tr.even td {
  background: none;
}

.nobg td {
  float: left !important;
}

/* sub menu */

#topsubmenu {
  padding: 0;
  width: 100%;
  overflow: hidden;
  background: transparent;
}

.topsubmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.topsubmenu li {
  display: inline;
  margin: 0 2px 0 0;
  padding: 0;
}

.topsubmenu a {
  float: left;
  color: white;
  background-color: #459E00;
  margin: 0 2px 0 0;
  padding: 0 0 1px 3px;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
}

.topsubmenu a span {
  float: left;
  display: block;
  background: transparent;
  padding: 7px 9px 3px 6px;
  cursor: pointer;
}

.topsubmenu a span {
float: none;
}


.topsubmenu a:hover, .topsubmenu li.selected a {
  background-color: #54c000;
  color: white;
}

.topsubmenu a:hover span {
  background-color: transparent;
}

.topsubmenudivider {
  clear: both;
  padding: 0;
  width: 100%;
  height: 2px;
  line-height: 2px;
  background-color: #54c000;
  border#top: 1px solid #fff;
  margin-bottom: 20px;
}

/* specify position of edit/lock/delete action links */
#contentplace .actions {
	margin: 0 0 -17px 23px;
	position: relative;
}
#contentplace .aaction {
	margin: 0 8px 0 0;
	font-weight: bold;
}

/* floating menu for subscriber lock */
#contentplace .floating {
	z-index: 100;
	display: none;
	position: absolute;
	top: 22px;
	left: 26px;
	border: 1px solid #006600;
	background-color: #EEEEEE;
	padding: 3px 10px 3px 5px;
}

#contentplace input, #contentplace select {
  border: 1px solid  #ddddd;
  margin: 0; 
}

#contentplace .but, #contentplace .postlink, 
#contentplace .actions/*, #contentplace .aaction */ {
	font-size: 11px;
	text-align: center;
	border: 1px solid  #459E00;
	color: #fff;
	font-weight: bold;
	background-color: #459E00;
	padding: 2px !important;
	margin: 3px 0 5px 0;
	width: 70px;
	white-space: nowrap;
}
#contentplace .actions a, #contentplace .actions a:hover,
#contentplace .aaction a, #contentplace .aaction a:hover,
#contentplace .postlink a, #contentplace .postlink a:hover
{
	color: #fff;
	text-decoration: none;
}

#contentplace .inlinecontainer {
  height: 10px;
}


#contentplace .inlinecontainer .inline {
  display: block;
  float: left;
  margin-right: 10px;
}

/*
.button-add, .button-del, .button-cancel, 
.button-edit, .button-save, .button-back,
.button-lock, .button-unlock, .button-terminate {
  margin: 3px 0 3px 0;
}

button.button-add, button.button-del, button.button-cancel, 
button.button-edit, button.button-save, button.button-back,
button.button-lock, button.button-unlock, button.button-terminate {
  padding-top: 9px;
  padding-bottom: 9px;
}
*/

ul.cleanlist {
  list-style: none;
}
ul.cleanlist li {
  list-style-type: none;
  list-style-position: inside;
  float: left;  
  width: 100%;
  margin-bottom: 1px;
  padding: 3px;
}

.listentry_disabled {
  text-decoration: line-through;
}

/* TODO: remove table */
/* column layout using tables */
#columns31 {
	width: 100%;
}
#columns31 .column1 {
	width: 75%;
	vertical-align: top;
}
#columns31 .column2 {
	width: 25%;
	border-left: 1px solid #D0DCDF;
	vertical-align: top;
}

/* CDR search styles */
#contentplace h3#search_cdr {
	margin-top: 1px;
}
#contentplace #callsearch select {
	margin: 2px 0 10px 0;
}
#contentplace #callsearch input {
	margin: 2px 0;
}

.pagination {
    margin-top: 10px;
    padding: 2px;
}
.pagination ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.pagination li {
    display: inline;
    list-style-type: none;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 5px;
}
.pagination li.currentpage {
    padding: 3px 6px;
    background-color: #54c000;
}
.pagination li.disablepage {
    padding: 3px 6px;
    background-color: #929292;
}
.pagination a, .pagination a:visited {
    padding: 3px 6px;
    background-color: #459e00;
    color: #FFFFFF;
}
.pagination a:hover, .pagination a:active {
    padding: 3px 6px;
    background-color: #54c000;
    color: #FFFFFF;
}

.hspace-20 {
  margin: 10px 0 10px 0;
  width: 100%;
  float: left;
  display: block;
}

.ishort {
  width: 70px;
}

.imedium {
  width: 140px;
}

.tooltip {
display:none;
  background:url(../static/images/black_arrow_big.png);
  height:163px;
  padding:40px 30px 10px 30px;
  width:310px;
  font-size:11px;
  color:#fff;
}

.error, .alert, .notice, .success, .info {
  margin-top: 1em;
}

/* this is just here to overrule "ul.cleanlist li" */
ul li.error, ul li.alert, ul li.notice, ul li.success, ul li.info {
  margin-top: 0.9em;
  margin-bottom: 1em;
}

.content li.ui-state-quad {
  height: 104px;
  background: url("smooth/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
}

.content li.ui-state-hexa {
  height: 156px;
  background: url("smooth/images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
}

/* special div for numbers in subscriber search result */
.span-3-4 {
  width:130px;
  float:left;
  white-space: nowrap;
}
